name: CI

on:
  push:
    branches: [ main ]

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install app
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install .

      - name: Smoke test
        run: |
          uv run video-descrambler .assets/velib.mp4 -o velib_fixed.mp4
